@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@300;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2 {
    font-family: "Itim", sans-serif;
}

.primary-btn {
    background-image: linear-gradient(to right, #74CD70, #47C894);
    border: 0px;
    padding: 10px 20px;
    font-weight: 500;
    color: #fff;
    border-radius: 103px;
}

#header {
    box-shadow: 1px 0px 5px -3px;
    padding: 10px 0px;
}

#header .prv {
    font-weight: 600;
    color: #074e32;
}

.navbar-brand img {
    width: 200px;
}

.nav-item {
    font-size: 17px;
    margin-left: 13px;
    text-transform: uppercase;
}

.nav-link {
    color: #333;
    font-weight: 600;
}

.nav-link:hover {
    color: #47C894
}

.nav-item.cnt {
    background-image: linear-gradient(to right, #74CD70, #47C894);
    border-radius: 10px;
    padding: 0px 10px;
}

.nav-item.cnt a {
    color: #fff;
}

#hero-section {
    background-image: url(../images/header-vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    padding: 70px 0px;
}

#hero-section .hero-content {
    width: 50%;
    float: left;
    margin-top: 55px;
}

#hero-section .hero-content h3 {
    color: #47C894;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

#hero-section .hero-content h1 {
    font-weight: 700;
    line-height: 34px;
    font-size: 36px;
    font-family: "Itim";
}

#hero-section .hero-content p {
    font-size: 14px;
    line-height: 25px;
    margin: 18px auto;
}

#hero-section .hero-content button {}

#hero-section .hero-content span {}

.video-icon img {
    margin-left: 35px;
    height: 60px;
    transition: transform .2s ease-in-out;
}

#hero-section .hero-img {
    width: 50%;
    float: right;
}

#hero-section .hero-img img {
    height: 332px;
}

#row2 {
    height: 400px;
    margin-top: 30px;
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#row2 .col-md-6 .row2-title {
    margin-top: 40px;
}

#row2 .col-md-6 .row2-title h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

#row2 .col-md-6 .row2-title p {
    font-size: 14px;
    line-height: 25px;
    color: #383838;
}

#row2 .col-md-6 .row2-img {
    height: 300px;
    width: 100%;
}

#row3 {
    /*! margin: 30px 30px; */
    padding: 10px 0px;
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 521px;
}

#row3 .row3-title {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

#row3 .row3-title h2 {
    /*! width: 30%; */
    /*! margin: 0 auto; */
    font-weight: 600;
    font-size: 37px;
}

#row3 .row3-title p {
    color: #383838;
    font-size: 15px;
}

#row3 .services {
    width: 27%;
    float: left;
    margin: 30px auto;
    box-shadow: 0px 4px 6px -1px #ddd;
    padding: 20px 5px;
    border-radius: 10px;
    position: relative;
}

#row3 .services h3 {
    text-align: center;
    /*! line-height: 40px; */
    font-size: 20px;
    font-weight: bold;
    margin-top: 13px;
}

#row3 .services p {
    font-size: 12px;
    width: 70%;
    margin: 6px auto;
    text-align: center;
}

#row3 .services img {
    width: 150px;
    margin: 0px 80px;
}

#row3 .services .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 10px;
    padding: 65px 0px;
    display: none;
    transition: 1s;
}

#row3 .services:hover .overlay {
    display: block;
    transition: 1s;
    cursor: pointer;
}

#row3 .services .overlay h3 {
    color: #eee;
}

#row3 .services .overlay p {
    color: #eee;
}